mat-form-field{
    margin: auto;
    width: 100%;
}
mat-spinner{
    margin: auto;
}
mat-card{
    width: 50%;
    margin: auto;
}

input[type="file"]{
    visibility: hidden;
}
.image-preview{
    height: 5rem;
    margin: 1rem  auto;
}
.image-preview img{
    height: 100%;
}
.mat-form-field-infix{
        border-top: .84375em solid blue !important;
}