<div class="container">
    <h4 class="justify-content-between align-items-center mb-3" style="text-align: center;font-weight: 600;">
        <span class="text-muted" style="text-align: center;">Your cart</span>
        <span class="badge badge-secondary badge-pill"></span>
    </h4>
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead *ngIf="items.length != 0">
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody *ngIf="items.length != 0">
                    <tr *ngFor="let item of items; let i = index ">

                        <td class="col-sm-5 col-md-5 col-5">
                            <div class="media">
                                <a class="thumbnail pull-left">
                                    <img class="media-object" src="{{item.itemImg}}" style="width: 72px; height: 72px;">
                                </a>

                            </div>
                        </td>
                        <td class="col-sm-5 col-md-5 col-5 text-center">
                            <div class="cart-info quantity">
                                <div class="btn-increment-decrement" (click)="decrement_quantity(item)">-</div>

                                <strong style="margin-left: 0.6rem;">{{item.itemNumber}}</strong>&nbsp;&nbsp;&nbsp;
                                <div class="btn-increment-decrement" (click)="increment_quantity(item)">+</div>
                            </div>

                        </td>
                        <td class="col-sm-1 col-md-1 text-center">
                            <strong>${{item.itemtotal}}</strong>
                        </td>
                        <td class="col-sm-1 col-md-1" (click)="removeItem(item)">
                            <button class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove"></span> Remove
                            </button>
                        </td>

                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <h5>Subtotal</h5>
                        </td>
                        <td class="text-right" *ngIf="subTotal != 0">
                            <h5>
                                <strong>${{subTotal}}</strong>
                            </h5>
                        </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <h5>Estimated shipping</h5>
                        </td>
                        <td class="text-right">
                            <h5>
                                <strong>$6.94</strong>
                            </h5>
                        </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <h3>Total</h3>
                        </td>
                        <td class="text-right">
                            <h3>
                                <strong>${{subTotal + 6.94}}</strong>
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <button class="btn btn-default" [routerLink]="['/']">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-success" [routerLink]="['/checkout']">
                                Checkout
                                <span class="glyphicon glyphicon-play"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="items.length == 0">
                    <tr>

                        <td class="col-sm-12 col-md-12" style="text-align: center;"><b>No items added to your cart</b>
                        </td>
                    </tr>
                    <tr>


                        <td class="col-sm-12 col-md-12" style="text-align: center;">
                            <button class="btn btn-default" [routerLink]="['/']">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>