<div class="container-fluid" style="padding: 2rem;">
    <div class="row" *ngIf="viewItem?.length != 0">
        <div class="col col-md-6"><img src="{{viewItem[0].itemImg}}" style="width: 100%;"></div>
        <div class="col col-md-6">
            <h2>Item Name : {{viewItem[0].itemName}}</h2>
            <h4><b>Item Category :</b> {{viewItem[0].itemCate}}</h4>
            <p>
                <b>Item Description : </b> {{viewItem[0].itemDesc}}
            </p>
            <p><b>Item Price : </b>{{viewItem[0].itemPrice}}</p>
            <div class="row" style="justify-content: center;">
                <div class="col-sm-1">
                    <div *ngIf="userDetails?.role == 'user' && viewItem?.itemUser?.indexOf(userDetails?._id) > -1"
                        (click)="increament(viewItem[0])">
                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="col-sm-6">
                    <span
                        *ngIf="userDetails?.role == 'user' && viewItem?.itemUser?.indexOf(userDetails?._id) > -1 && viewItem?.itemTotal != 0"><b>Number
                            of
                            {{viewItem[0].itemName}}</b> {{viewItem[0].itemNumber}}
                        <b>Total Price</b> {{viewItem[0].itemtotal}}</span>
                </div>
                <div class="col-sm-1">
                    <div *ngIf="userDetails?.role == 'user' && viewItem?.itemUser?.indexOf(userDetails?._id) > -1 "
                        (click)="decreament(viewItem[0])">
                        <i class="fa fa-minus-square-o" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="col-12 col-sm-12" style="text-align: center;">
                    <button type="button" class="btn btn-outline-primary"
                        *ngIf="userDetails?.role == 'user' && (viewItem?.itemUser?.indexOf(userDetails?._id) > -1)"
                        routerLink="/cart">
                        Go to Cart
                    </button>
                </div>


            </div>
        </div>
    </div>
    <div class="row" *ngIf="viewItem?.length == 0">
        <div class="col-12">
            Your View cart item is empty, please add to basket!.
        </div>
    </div>
</div>